node_modules
notes-api-webserver.pem
akun-git.txt
aplikasi-client.txt
commandline-linux-aws.txt
configurasi-eslint.txt
install-package-json.txt
install-tool.txt
origin-disable.txt
notesapp-v1.dicodingacademy.com-1679582040717.log